---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Publications · Devraj Raghuvanshi" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Publications</div>
  </div>
  <div>
    <div class="text-xl w-full font-semibold mb-5">
      You can also find my articles on <a
        class="text-blue-500"
        href="https://scholar.google.com/citations?user=zBQ5HqcAAAAJ&hl=en"
        target="_blank">Google Scholar</a
      >.
    </div>
  </div>

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Intra-modal Relation and Emotional Incongruity Learning using Graph Attention Networks for Multimodal Sarcasm Detection"
    desc="Devraj Raghuvanshi, Xiyuan Gao, Zhu Li, Shubhi Bansal, Matt Coler, Nagendra Kumar, Shekhar Nayak"
    status="Submitted to"
    journal="2025 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)"
    badge="Under Review"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Integrating Feedback Loss from Bi-modal Sarcasm Detector for Sarcastic Speech Synthesis"
    desc="Zhu Li, Yuqing Zhang, Xiyuan Gao, Devraj Raghuvanshi, Nagendra Kumar, Shekhar Nayak, Matt Coler"
    status="Submitted to"
    journal="2025 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)"
    badge="Under Review"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Hierarchical Attention-enhanced Contextual CapsuleNet for Multilingual Hope Speech Detection"
    desc="Mohammad Zia Ur Rehman, Devraj Raghuvanshi, Harshit Pachar, Chandravardhan Singh Raghaw, Nagendra Kumar"
    url="#"
    status="Submitted to"
    journal="Expert Systems with Applications"
    badge="Under Review"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="A Multimodal-Multitask Framework with Cross-Modal Relation and Hierarchical Interactive Attention for Semantic Comprehension"
    status="Submitted to"
    desc="Mohammad Zia Ur Rehman, Devraj Raghuvanshi, Umang Jain, Shubhi Bansal, and Nagendra Kumar"
    journal="IEEE Transactions on Pattern Analysis and Machine Intelligence"
    badge="Under Review"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="KisanQRS: A Deep Learning-based Automated Query-Response System for Agricultural Decision-Making"
    desc="Mohammad Zia Ur Rehman*, Devraj Raghuvanshi*, and Nagendra Kumar (* denotes equal contribution)"
    status="Published in"
    journal="Computers and Electronics in Agriculture"
    url="https://www.sciencedirect.com/science/article/abs/pii/S0168169923005689"
    target="_blank"
  />